!!!
%html
  %head
    = stylesheet_link_tag asset_path("follower_report")
    :css
      .detail {
        background: url("#{asset_path("card_icons.png")}") no-repeat 0 0;
      }
  %body
    .page_followers_report
      .header
        = link_to "/", title: t("common.application_name"), style: "float: left" do
          = image_tag "/logo.png"

        %h1.title= t(".title")

      - @members_info.each do |member_id, info|
        .member_info
          .avatar= user_avatar(@members[member_id], :medium)
          .name= @members[member_id].full_name

        = render "activities", actions: info[:actions]
        = render "cards", cards: info[:cards]