!!!
%html
  %head
    = stylesheet_link_tag "followers_report"
    :css
      .detail {
        background: url("#{asset_path("card_icons.png")}") no-repeat 0 0;
      }
  %body
    .page_followers_report
      .header
        = link_to "/", title: t("common.application_name"), style: "float: left" do
          = image_tag "/logo.png"

        %h1{style: "text-align: right"}= t(".title")

      - @members_info.each do |member_id, info|
        .member_info
          .avatar= user_avatar(@members[member_id], :medium)
          .name= @members[member_id].full_name

        %h4= t "members.tab.recent_activity"
        .activities
          - if info[:actions].blank?
            .hint= t "members.activity.no_recent_activity"

          - info[:actions].map(&:attributes).each do |a|
            .activity
              %span.date
                [
                = a[:date].in_time_zone.strftime "%b %d at %H:%M"
                - if a[:data]["board"]
                  = t("members.activity.on_board", board: a[:data]["board"]["name"])
                -if a[:data]["organization"]
                  = t("members.activity.on_organization", organization: a[:data]["organization"]["name"])
                ]
              %span.text
                = raw action_describe(a)

        %h4= t "members.tab.active_cards"
        .cards.clearfix
          - if info[:cards].blank?
            .hint= t "members.cards.no_active_cards"

          - info[:cards].each do |card|
            .card{ "data-trello-url" => card.url}
              .card_inner
                .name= card.name
                .board_and_column
                  = @card_boards[card.board_id].name
                  \/
                  = @card_lists[card.list_id].name
                .info.clearfix
                  .pull-left.details
                    - if card.badges["subscribed"]
                      .detail.follow

                    - if card.badges["description"]
                      .detail.description

                    - if card.badges["comments"] > 0
                      .detail.comment
                        = card.badges["comments"]

                    - if card.badges["attachments"] > 0
                      .detail.attachment
                        = card.badges["attachments"]

                    - if card.badges["checkItems"] > 0
                      .detail.checklist{ class: (card.badges["checkItems"] == card.badges["checkItemsChecked"] ? "done" : "") }
                        = "#{card.badges["checkItemsChecked"]}/#{card.badges["checkItems"]}"

                    - if card.badges["due"]
                      .detail.due
                        .fa.fa-clock-o
                        = Time.parse(card.badges["due"]).in_time_zone.strftime "%b %d"

                  .pull-right.assigned_members
                    - card.card_members.each do |cm|
                      - cm = cm.jsoned_into(Trello::Member)
                      = user_avatar(cm, :small)

                .date
                  = t("members.cards.changed")
                  = card.last_activity_date.in_time_zone.strftime "%b %d at %H:%M"
