.page_main
  .content_block
    .clearfix
      .pull-left
        %h3
          .fa.fa-users
          = t ".my_organizations"

      .pull-right
        = link_to "#", class: "btn btn-primary set_up_following_button" do
          .fa.fa-cog
          = t ".set_up_following"

        = link_to js_void, class: "btn btn-primary finish_set_up_following_button" do
          .fa.fa-check
          = t ".finish_set_up_following"

  .content_block.white_bg
    .organizations
      = form_tag "follow", remote: true do |f|
        - @organizations.each_slice(3) do |organizations|
          .row
            - organizations.each do |organization|
              .organization.col-md-4
                %h4= organization.display_name

                .members
                  - @members[organization.id].each do |member|
                    .member.clearfix
                      .follow_status.pull-left
                        .status_icon.fa.fa-eye
                        = check_box_tag "following_member[]", member.id, true, class: "status_checkbox"

                      .avatar.pull-left
                        = user_avatar(member, :medium)

                      .name
                        = link_to member.full_name, member_path(member.id)
