.page_main
  .content_block
    .clearfix
      .pull-left
        %h3
          .fa.fa-users
          = t ".my_organizations"

      .pull-right
        = link_to "#", class: "btn btn-primary" do
          .fa.fa-cog
          = t(".set_up_following")

    .organizations.row
      .organization.col-md-4
        %h4 Organization #1

        .members
          .member.clearfix
            .follow_status.pull-left
              .fa.fa-eye
            .avatar.pull-left
              = image_tag "https://trello-avatars.s3.amazonaws.com/7a91fe997a5e759f670f6704206f6cb6/170.png"
            .name
              = link_to "Svetogor Malyugin", "#"

          .member.clearfix
            .follow_status.pull-left
              .fa.fa-eye
            .avatar.pull-left
              = image_tag "https://trello-avatars.s3.amazonaws.com/7a91fe997a5e759f670f6704206f6cb6/170.png"
            .name
              = link_to "Svetogor Malyugin", "#"

          .member.clearfix
            .follow_status.pull-left

            .avatar.pull-left
              = image_tag "https://trello-avatars.s3.amazonaws.com/7a91fe997a5e759f670f6704206f6cb6/170.png"
            .name
              = link_to "Svetogor Malyugin", "#"

          .member.clearfix
            .follow_status.pull-left
              .fa.fa-eye
            .avatar.pull-left
              = image_tag "https://trello-avatars.s3.amazonaws.com/7a91fe997a5e759f670f6704206f6cb6/170.png"
            .name
              = link_to "Svetogor Malyugin", "#"

      .organization.col-md-4
        %h4 Another Organization

        .members
          .member.clearfix
            .follow_status.pull-left
              .fa.fa-eye
            .avatar.pull-left
              = image_tag "https://trello-avatars.s3.amazonaws.com/7a91fe997a5e759f670f6704206f6cb6/170.png"
            .name
              = link_to "Svetogor Malyugin", "#"

          .member.clearfix
            .follow_status.pull-left
              .fa.fa-eye
            .avatar.pull-left
              = image_tag "https://trello-avatars.s3.amazonaws.com/7a91fe997a5e759f670f6704206f6cb6/170.png"
            .name
              = link_to "Svetogor Malyugin", "#"

          .member.clearfix
            .follow_status.pull-left

            .avatar.pull-left
              = image_tag "https://trello-avatars.s3.amazonaws.com/7a91fe997a5e759f670f6704206f6cb6/170.png"
            .name
              = link_to "Svetogor Malyugin", "#"

          .member.clearfix
            .follow_status.pull-left
              .fa.fa-eye
            .avatar.pull-left
              = image_tag "https://trello-avatars.s3.amazonaws.com/7a91fe997a5e759f670f6704206f6cb6/170.png"
            .name
              = link_to "Svetogor Malyugin", "#"

      .organization.col-md-4
        %h4 Third Organization

        .members
          .member.clearfix
            .follow_status.pull-left

            .avatar.pull-left
              = image_tag "https://trello-avatars.s3.amazonaws.com/7a91fe997a5e759f670f6704206f6cb6/170.png"
            .name
              = link_to "Svetogor Malyugin", "#"


          .member.clearfix
            .follow_status.pull-left
              .fa.fa-eye
            .avatar.pull-left
              = image_tag "https://trello-avatars.s3.amazonaws.com/7a91fe997a5e759f670f6704206f6cb6/170.png"
            .name
              = link_to "Svetogor Malyugin", "#"
