.page_main
  .content_block.offset
    .clearfix
      .pull-left
        %h3
          .fa.fa-users
          = t ".my_organizations"

      .pull-right
        = link_to "#", class: "btn btn-primary set_up_following_button" do
          .fa.fa-cog
          = t ".set_up_following"

        = link_to js_void, class: "btn btn-primary finish_set_up_following_button" do
          .fa.fa-check
          = t ".finish_set_up_following"

  .content_block.white_bg
    .organizations
      - @organizations.each do |organization|
        .organization
          %h4= organization.display_name

          .members
            - @members[organization.id].each do |member|
              .member.clearfix
                .follow_status.pull-left
                  = form_tag follow_member_url(member.id), remote: true do |f|
                    .status_icon.fa.fa-eye
                    = check_box_tag "follow", member.id, @followers.include?(member.id), class: :status_checkbox

                .avatar.pull-left
                  = user_avatar(member, :medium)

                .name
                  = link_to member.full_name, organization_member_url(organization.id, member.id)
