.footer_inner
  .copy
    &copy;
    = succeed "," do
      %b= t "common.application_name"
    = Date.today.year

    %br
      = t "common.developed_by"
      = link_to "YetiCoders", "http://www.yeticoders.com/", target: "_blank"
