- if params[:action] != "index"
  - content_for :user_menu do
    %li.dropdown.user_link
      = link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do
        = user_avatar(trello_user, :small)
        = trello_user.full_name

      %ul.dropdown-menu.user_dropdown
        %li= link_to t("common.pages.main"), main_url
        %li= link_to t("common.pages.settings"), user_url(system_user)
        %li= link_to t("common.sign_out"), logout_url

%nav#top_menu.navbar.navbar-default{ role: "navigation" }
  .navbar-header
    = link_to "/", title: t("common.application_name"), class: "navbar-brand" do
      = image_tag "logo.png"

  .collapse.navbar-collapse
    %ul#user_menu.nav.navbar-nav.navbar-right
      - if content_for :user_menu
        = yield :user_menu
      - else
        %li= link_to t("common.sign_in"), "#"
