.cards.clearfix
  - if @cards.blank?
    .hint= t ".no_active_cards"

  - @cards.each do |card|
    .card{ "data-trello-url" => card.url}
      .card_inner
        .name= card.name
        .board_and_column
          = @card_boards[card.board_id].name
          \/
          = @card_lists[card.list_id].name
        .info.clearfix
          .pull-left.details
            - if card.badges["subscribed"]
              .detail.follow
                .fa.fa-eye

            - if card.badges["description"]
              .detail.description
                .fa.fa-pencil

            - if card.badges["comments"] > 0
              .detail.comment
                .fa.fa-comment
                = card.badges["comments"]

            - if card.badges["attachments"] > 0
              .detail.attachment
                .fa.fa-paperclip
                = card.badges["attachments"]

            - if card.badges["checkItems"] > 0
              .detail.checklist{ class: (card.badges["checkItems"] == card.badges["checkItemsChecked"] ? "done" : "") }
                .fa.fa-list
                = "#{card.badges["checkItemsChecked"]}/#{card.badges["checkItems"]}"

            - if card.badges["due"]
              .detail.due
                .fa.fa-clock-o
                = Time.parse(card.badges["due"]).strftime "%b %d"

          .pull-right.assigned_members
            - card.card_members.each do |member|
              - member = member.jsoned_into(Trello::Member)
              = user_avatar(member, :small)

        .date
          = t(".changed")
          = card.last_activity_date.strftime "%b %d at %H:%M"
