.member_info
  .avatar= user_avatar(@current_member, :medium)
  .name= @current_member.full_name

.row
  .col-md-6
    %h4= t ".recent_activity"

    #recent_activity

    #activity_loader.loader
      .fa.fa-refresh.fa-spin

  .col-md-6
    %h4= t ".active_cards"

    #active_cards

    #cards_loader.loader
      .fa.fa-refresh.fa-spin

:javascript
  $(function(){
    window.App.Members.get_cards("#{cards_organization_member_url(organization.id, @current_member.id)}");
    window.App.Members.get_activity("#{activities_organization_member_url(organization.id, @current_member.id)}");
  });
