.member_info
  .avatar= user_avatar(@current_member, :medium)
  .name= @current_member.full_name

.row
  .col-md-6
    %h4= t ".recent_activity"

    #recent_activity

    #activity_loader
      .fa.fa-refresh.fa-spin

  .col-md-6
    %h4= t ".active_cards"

    #active_cards

    #cards_loader
      .fa.fa-refresh.fa-spin

:javascript
  $(function(){
    window.App.Members.get_cards("#{cards_member_url(@current_member.id)}");
    window.App.Members.get_activity("#{activities_member_url(@current_member.id)}");
  });