.page_member
  .content_block
    %ul.nav.nav-tabs.members_tabs
      %li{ class: "active" }
        = link_to member_path(@current_member) do
          = user_avatar(@current_member, :small)
          = @current_member.full_name.split.first

      %li.separator &nbsp;

      - @members.each do |member|
        %li{ class: ("active" if member.id == @current_member.id) }
          = link_to member_path(member.id) do
            = user_avatar(member, :small)
            = member.full_name.split.first

  .content_block.white_bg
    .member_info
      .avatar= user_avatar(@current_member, :medium)
      .name= @current_member.full_name

    .row
      .col-md-6
        %h4= t ".recent_activity"

        #recent_activity
          = render "activity"

      .col-md-6
        %h4= t ".active_cards"

        #active_cards
          = render "cards"
